<div id="user_login_modal" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="display: none">
	<div class="modal-body">

		<% if !current_user %>
				<br>
				<div class="sign_up_or_login_grid float_left">
					<%= link_to "Sign in with Facebook", "/users/auth/facebook", class: "facebook_login_button" %><br/>
				</div>
				<div class="sign_up_or_login_grid float_left">
					<%= link_to "Sign in with Twitter", "/users/auth/twitter", class: "twitter_login_button" %><br/>
				</div>
				<div class="sign_up_or_login_grid float_left">
					<br>
					<%= link_to "Sign in with Github", "/users/auth/github", class: "github_login_button" %><br/>
				</div>
				<div class="sign_up_or_login_grid float_left">
					<%= form_tag create_guest_user_path, method: :put do %>
						Sign in with guest username:
						<%= text_field_tag :username %>
						<br>
						<%= submit_tag "Submit" %></div>
					<% end %>
				<br>
				</div>

		<% elsif current_user && current_user.guest_user %>
			<br>
			<div class="sign_up_or_login_grid float_left">
				<%= link_to "Link Facebook Account", "/users/auth/facebook", class: "facebook_login_button" %><br/>
			</div>
			<div class="sign_up_or_login_grid float_left">
				<%= link_to "Link Twitter Account", "/users/auth/twitter", class: "twitter_login_button" %><br/>
			</div>
			<div class="sign_up_or_login_grid float_left">
				<br>
				<%= link_to "Link Github Account", "/users/auth/github", class: "github_login_button" %><br/>
			</div>
			<div class="sign_up_or_login_grid float_left">
				<br>
				Currently signed in as guest:
				<br>
				<%= current_user.username %>
			<br>
			</div>
		<% end %>

	</div>
</div>