<!-- TOGGLE TOOLBAR -->
<div id="toolBar" class="">
	<div class="tabs fright">
	    <ul id="tab1">
	        <li>
		    <%= image_tag("tb-icn-film.png", height: "60px", id: "arrow") %>
	        </li>
	    </ul>
	    <ul id="tab2">
	        <li>
		    <%= image_tag("tb-icn-eye.png", height: "60px", width: "51px", id: "arrow2") %>
	        </li>
	    </ul>
	</div>
    <div id="toolsNav" class="side_nav_links">
	    <hgroup>
	    	
	        <h2>Sketch, write, and share your ideas.</h2>
	    </hgroup>
        <nav>
            <div class="bt">
	      		<%= link_to "#{image_tag('tb-icn-pencil.png', height: '40px')} Pen".html_safe, "", class: "trigger_scribble" %>
	    	</div>
            <div class="bt"><a href="" >Txt</a></div>
            <div class="bt"><a href="" >Img</a></div>
            <div class="bt"><a href="" >A</a></div>
            <div class="bt"><a href="" >Clear</a></div>
        </nav>
    </div>
    <div id="viewNav" class="hidden side_nav_links">
	    <hgroup>
	    	
	        <h2>Who's up in the video.</h2>
	    </hgroup>
        <nav>
            <!--<div class="bt">
	      		<%= link_to "#{image_tag('tb-icn-pencil.png', height: '40px')} Pen".html_safe, "", class: "trigger_scribble" %>
	    	</div>-->
            <% @video.users.each do |user| %>
                <div class="bt"><a href="#" ><img src="http://robohash.org/<%= user.avatar_text %>.png?size=40x40">&nbsp;&nbsp;<%= truncate(user.username, length: 9) %></a></div>
            <% end %>
            
        </nav>
    </div>
</div>
<!-- MAIN CONTENT AREA -->
<div class="canvasMain fleft">
    <div id="annotated_video" data-youtube-id="<%= @video.youtube_id %>" data-our-id="<%= @video.id %>"><div id="player"></div></div>

</div> <!-- end MAIN -->
<div class="clear"></div>
<% content_for :footer do %>
    <script type="text/javascript">
        $(document).ready(function() {
            annotationsURL = "<%= annotations_path %>";
            addExistingAnnotations(<%= @video.annotations.to_json.html_safe %>);
        });
    </script>
<% end %>

<% content_for :footer do %>
    <%= render "layouts/dialog" %>
<% end %>
