<!-- TOGGLE TOOLBAR -->
<div id="toolBar" class="">
	<div class="tabs fright">
	    <ul id="tab1">
	        <li>
		    <%= image_tag("tb-icn-film.png", height: "60px", id: "arrow", onclick: "toggle('toolBar');") %>
	        </li>
	    </ul>
	    <ul id="tab2">
	        <li>
		    <%= image_tag("tb-icn-eye.png", height: "60px", id: "arrow2", onclick: "toggle('viewBar');") %>
	        </li>
	    </ul>
	</div>

    

    <div id="toolLinks">
	    <hgroup>
	    	<h1>Logo</h1>
	        <h2>Sketch, write, and share your ideas.</h2>
	    </hgroup>
        <nav>
            <!--<div class="bt">
	      		<%= link_to "#{image_tag('tb-icn-pencil.png', height: '40px')} Pen".html_safe, "", class: "trigger_scribble" %>
	    	</div>-->
            <div class="bt"><a href="" >Txt</a></div>
            <div class="bt"><a href="" >Img</a></div>
            <div class="bt"><a href="" >A</a></div>
            <div class="bt"><a href="" >Clear</a></div>
        </nav>
    </div>
</div>












<!-- MAIN CONTENT AREA -->
<div class="canvasMain fleft">

	<% content_for :footer do %>
		<script type="text/javascript">
			$(document).ready(function() {
				annotationsURL = "<%= annotations_path %>";
			});
		</script>
	<% end %>

	<% content_for :footer do %>
		<%= render "layouts/dialog" %>
	<% end %>

	<h2>Video Annotation</h2>
	<a href="#" class="trigger_scribble">New Canvas</a>

</div> <!-- end MAIN -->
<div class="clear"></div>
