<nav id="global">
  <div class="links">
    <%= link_to  image_tag('logo1.png', {:class =>'logo', :alt=>'logo'}), root_path, {:class => 'btn'} %>
    
    <%= link_to "New Canvas", "#", {:class => 'btn choose_video_modal'} %>
    <%= link_to "Account", "#", {:class => 'btn'} %> 
    <%= link_to "Search", "#", {:class => 'btn search_video_modal'} %> 
    <%= link_to "Login", "#", {:class => 'btn'} %> 
  </div>
</nav>
