<!DOCTYPE html>
<html>
<head>
  <title>Videocanvas</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
</head>
<body id="index">

  <!-- GLOBAL NAV -->
  <%= render "layouts/nav_global" %>
<!--

 
		<ul>
			<li>
				<%= link_to "Home", root_path %>
				
			</li>
			<li>
				<%= link_to "Logout", destroy_user_session_path, method: :delete if current_user && !current_user.guest_user %>
			</li>
			<% if current_user %>
			Logged in <%= " as: #{current_user.username}" if current_user.username %>
			<% end %>
		</ul>
-->

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>


		



	  <%= yield %>


  <%= yield :footer %>
  <%= render "videos/youtube_search_partial" %>
  <%= render "videos/video_search_modal" %>
  <%= render "users/create_guest_user_form" %>
  <%= render "layouts/footer" %>
</body>
</html>
